.u-section-1 .u-sheet-1 {
  min-height: 585px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 85px 0 1px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 514px;
  background-image: linear-gradient(#adcce9, #f2b4b6);
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 179px 0;
}

.u-section-1 .u-image-1 {
  min-height: 514px;
  background-image: url("images/IMG-20250801-WA0048.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 514px;
  background-image: linear-gradient(45deg, #f1c50e, #582d2e);
}

.u-section-1 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-2 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 144px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 487px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 14px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 9px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 847px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 360px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 45px;
    padding-right: 45px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 35px;
    margin-bottom: 35px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 13px;
    padding-right: 13px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  margin: 56px -11px 60px auto;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 1.3333333333333333rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 508px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-1 {
  background-image: url("images/IMG-20250801-WA0049.jpg");
  min-height: 508px;
  background-position: 50% 50%;
}

.u-section-3 .u-layout-cell-2 {
  background-image: linear-gradient(45deg, #72efe9, #adcce9);
  min-height: 508px;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-1 {
  font-style: italic;
  font-size: 1.25rem;
  margin: 30px 0 25px;
}

.u-section-3 .u-image-2 {
  min-height: 508px;
  background-image: url("images/IMG-20250801-WA0052.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding-left: 21px;
  padding-right: 21px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-text-1 {
    margin-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 13px;
    padding-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 868px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 45px;
    padding-right: 45px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 6px;
    padding-right: 6px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 2px;
    padding-right: 2px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 548px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 0 0 0 auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 548px;
  background-image: linear-gradient(45deg, #7c1b1f, #f1c50e);
}

.u-section-4 .u-container-layout-1 {
  padding-left: 25px;
  padding-right: 25px;
}

.u-section-4 .u-text-1 {
  font-size: 1.5rem;
  margin: 28px 0;
}

.u-section-4 .u-image-1 {
  min-height: 548px;
  background-image: url("images/IMG-20250801-WA0053.jpg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 21px;
    padding-right: 21px;
  }

  .u-section-4 .u-text-1 {
    line-height: 58px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 908px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 45px;
    padding-right: 45px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 767px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 407px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    line-height: 1.5;
    margin-bottom: 0;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 704px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-image-1 {
  min-height: 347px;
  background-image: url("images/IMG-20250801-WA0061.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 347px;
  background-image: linear-gradient(45deg, #2cccc4, #adcce9);
}

.u-section-5 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-5 .u-text-1 {
  font-style: italic;
  margin: 30px 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 357px;
  background-image: linear-gradient(45deg, #7c1b1f, #f1c50e);
}

.u-section-5 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 0;
}

.u-section-5 .u-text-2 {
  margin: 55px 0;
}

.u-section-5 .u-image-2 {
  min-height: 357px;
  background-image: url("images/IMG-20250801-WA0051.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-image-3 {
  min-height: 704px;
  background-image: url("images/IMG-20250801-WA0060.jpg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 496px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 300px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 300px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 28px;
    margin-bottom: 28px;
    font-style: normal;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 300px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 28px;
    margin-bottom: 28px;
  }

  .u-section-5 .u-image-2 {
    min-height: 300px;
  }

  .u-section-5 .u-image-3 {
    min-height: 600px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 798px;
  }

  .u-section-5 .u-image-1 {
    min-height: 297px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 25px;
    margin-bottom: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 309px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 25px;
    margin-bottom: 36px;
  }

  .u-section-5 .u-image-2 {
    min-height: 297px;
  }

  .u-section-5 .u-image-3 {
    min-height: 293px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: -177px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 605px;
    order: 1;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 336px;
    order: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 45px;
    padding-right: 45px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 331px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 45px;
    padding-right: 45px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 35px;
    margin-bottom: 35px;
  }

  .u-section-5 .u-image-2 {
    min-height: 432px;
  }

  .u-section-5 .u-image-3 {
    min-height: 782px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 196px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 76px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 456px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 300px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 353px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-5 .u-image-2 {
    min-height: 224px;
  }

  .u-section-5 .u-image-3 {
    min-height: 551px;
  }
}